@import url('https://fonts.googleapis.com/css2?family=BhuTuka+Expanded+One&family=Bree+Serif&family=Comforter&family=Corinthia&family=Dancing+Script&family=Dongle&family=Indie+Flower&family=Inspiration&family=Lato:wght@100&family=Neonderthaw&family=PT+Serif:wght@700&family=Raleway&family=Ramaraja&family=Shizuru&family=ZCOOL+QingKe+HuangYou&display=swap');

/*
*
*Title:  Infosite über Australien;
*Author:  Klersi Bushati;
*Date: 10.03.2022;
*
*
*
*/


/********************** General Sty**********************/




img{
	height: 200px;
}


/*Navigation*/
nav{
	background-color: lightblue;
    display: flex;
justify-content: space-between; /* To make space between logo and links */
align-content: center;
padding: 30px;
}
nav img{
height: 250px; /* To reduce the size of the logo image */
border-radius: 50%;
}
nav ul{
display: flex;
justify-content: flex-end;
align-items: center;
list-style-type: none; /* To remove the bullet points of our list*/
}
nav ul li a{
margin: 20px;
padding: 20px;
background-color: orange;
text-decoration: none;
color: red;
border-radius: 20px;
}
nav ul li a:hover {
background-color: brown;
color: orange;
}
body{
	margin: 0px;
	font-family: Styles;
}
/* Header*/
header{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 400px;

	background-position: center;
	background-size: cover;
}
header h1{
	font-size: 25px;
	background-color: rgba(255, 255, 255, 0.7);
	padding: 20px;
}

/* Section */
section{
	padding: 60px;
	background-color: lightskyblue;
}

section h2{
	font-size: 25px;
	color: darkblue;
	background-color: white;
}
#bayern{
	display: flex;
	justify-content: space-between;
	align-items: stretch;
}
section .left{
	width: 60%;
	background-color: white;
	padding: 30px;
}
section .right{
	width: 40%;
	background-color: lightsteelblue;
	border: 5px dotted darkblue;
}


/* Footer */
footer{
	height: 400px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	background: rgb(37,158,180);
background: linear-gradient(284deg, rgba(37,158,180,1) 42%, rgba(86,221,52,1) 68%);

}

footer p{
	background-color: rgba(255, 255, 255, 0);
	padding: 10px;
    color: white;
    font-size: 30px;
}


/*************Page Styling****************/

/*Home*/
#home header{
	background-image: url(2.jpg);
	color: blue;
}


#home main img{
	width: 250px;
	border: 5px double darkblue;
}


#home main{
	background-color: lightsteelblue;
	padding: 30px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;
}

/*Contact*/
#contact header{
	background-image: url(3.jpg);
}