@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Comforter&family=Corinthia&family=Dancing+Script&family=Dongle&family=Indie+Flower&family=Neonderthaw&family=PT+Serif:wght@700&family=Shizuru&family=ZCOOL+QingKe+HuangYou&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Comforter&family=Corinthia&family=Dancing+Script&family=Dongle&family=Indie+Flower&family=Neonderthaw&family=PT+Serif:wght@700&family=Raleway&family=Shizuru&family=ZCOOL+QingKe+HuangYou&display=swap');

h1{
	text-align: center;
}
h2{
	text-align: center;
	font-family: Dancing Script;
}
.a{
	border: dotted 5px black;
	column-count: 3;
	font-family: Raleway;
	padding: 10px;
}
.a p{
	text-align: justify;
}
img{
	width: 100px;
	height: 100px;
	border: solid 1px white;
}
div{
	margin: 20px;
	height: 200px;
}
#b{
	border: dotted 5px black;
	padding: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgb(74,161,151);
background: radial-gradient(circle, rgba(74,161,151,1) 0%, rgba(68,103,154,1) 64%);
}
#b p{
	background-color: white;
	padding: 20px;
}
.c{
	border: dotted 5px black;
	padding: 0px;
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	background-color: lightblue;
}
.c p{
	background-color: white;
	padding: 10px;
	margin: 0px;
}
#d{
	border: dotted 5px black;
	padding: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: blue;
}
footer{
	border: dotted 5px black;
	display: flex;
	justify-content: space-evenly;
	align-items: flex-end;
	background-color: darkblue;
	height: 200px;
	margin: 20px;
	padding: 0px;
}
footer p{
	background-color: white;
	padding: 10px;
    margin: 0px;

}
